*, *:before, *:after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #000;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

svg {
    width: 100vw;
    height: 100vh;

    .path {
        fill: none;
    }

    .circle {
        fill: #f00;
    }
}
