*, *:before, *:after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #000;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

canvas {
    width: 100vw;
    height: 100vh;
}

h1 {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    mix-blend-mode: overlay;
    color: rgba(0, 0, 0, .3);
    line-height: 0;
    font-size: 16px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color .2s ease-in-out;

    &:hover {
        color: rgba(0, 0, 0, .8);
    }
}