*, *:before, *:after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background: url(/dist/img/bg-gradient-wave.png) repeat center / cover;
}

svg {
    display: none;
    width: 100vw;
    height: 100vh;

    &.path {

        path {
            stroke: none;
        }
    }

    &.stroke {

        path {
            fill: none;
            stroke-width: 1px;
        }
    }

    .circle {
        fill: #fff;
    }
}
